<div class="container mt-3 mb-3 profile-card" style="background-color:rgba(70, 130, 180, 0.9);border-radius:15px">
    <div>
        <%= image_tag "#{current_user.profile_type}.svg", class:"profile-photo" %>
    </div>
    <div class="d-flex flex-column justify-content-around">
        <h1>Mon profil: <%= current_user.profile_type.upcase %></h1>
        <%= render  "profiletype/#{current_user.profile_type}" %>
    </div>
</div>
<div class="d-flex justify-content-between">
    <div class="container pt-3 mb-3 avancement" style="color:white;background-color:rgba(70, 130, 180, 0.9);border-radius:15px;">
        <h3>MON AVANCEMENT</h3>
        <div class="d-flex justify-content-around" style="height:100px;">
            <%= image_tag "html.svg", class:"badge-profil"%>
            <%= image_tag "css.svg", class:"badge-profil"%>
            <%= image_tag "js.svg", class:"badge-profil"%>
        </div>
        <div class="d-flex justify-content-around" style="height:100px;">
            <%# <div class="d-flex align-items-center justify-content-center" style="border: black 3px solid;height:80px;width:80px;border-radius:100%;background-color:gray">
                <div class="d-flex align-items-center justify-content-center" style="color:black;border: black 3px solid;height:50px;width:50px;border-radius:100%;background-color:white">
                    <strong>10</strong>
                </div>
            </div> %>
            <div style="position:relative">
                <progress-ring stroke="10" radius="55" progress=<%=@completed_html * 100 / @total_html%>></progress-ring>
                <div style="position:absolute; top:33px; right:46px; font-size:30px;"><%= @completed_html %></div>
            </div>
            <div style="position:relative">
                <progress-ring stroke="10" radius="55" progress=<%=@completed_css * 100 / @total_css%>></progress-ring>
                <div style="position:absolute; top:33px; right:46px; font-size:30px;"><%= @completed_css %></div>
            </div>
            <div style="position:relative">
                <progress-ring stroke="10" radius="55" progress=<%=0%>></progress-ring>
                <div style="position:absolute; top:33px; right:46px; font-size:30px;"><%= @completed_js %></div>
            </div>
        </div>
        <div class="d-flex justify-content-around">
            <div class="d-flex"><h1>4</h1><p>Écoles débloquées</p></div>
            <div class="d-flex"><h1><%= @completed_num %></h1><p><%= @completed_num > 1 ? 'jeux complétés' : 'jeu complété' %></p></div>
        </div>
    </div>
    
    <div class="container pt-3 mb-3 pb-1 challenges" style="color:white;background-color:rgba(70, 130, 180, 0.9);border-radius:15px">
        <h3>MES PROCHAINS CHALLENGES</h3>
        <% @games.first(4).each do |game| %>
            <% if @user_game.find_by(game: game).unlocked %>
                <div class="card-challenge">
                <%= link_to game_path(game) do%>
                    <%= image_tag "logo-#{game.order}.svg" , class:"logo"%>
                    <%end%>
                    <div class="card-challenge-infos">
                    <%= image_tag "#{game.category}.svg" , class:"lang"%>
                        <h2><%= game.title %></h2>
                        <% (game.difficulty).times do %>
                            <i class="fas fa-skull"></i>
                        <%end%>
                        <p><%= game.short_description %></p>
                    </div>
                </div>
            <% else %>
                <div class="card-challenge">
                    <%= image_tag "lock.svg", class:"logo" %>
                    <div class="card-challenge-infos">
                        <h2><%=  game.title %></h2>
                        <% ( game.difficulty).times do %>
                            <i class="fas fa-skull"></i>
                        <%end%>
                        <p><strong>Complètes un jeu pour déverouiller le suivant</strong></p>
                    </div>
                </div>
            <%end%>
        <%end%>
    </div>
</div>
