<div class="main">
  <h1 class="text-center my-1">Mes écoles</h1>
  <%# <input type="search" id="address-input" placeholder="Where are we studying?" /> %>
<%# -------------- MAP -----------------     %>
  <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <%# ----------------------------------- %>
  
  <%# ----------- card devschool ------------ %>
    <div class="cards">
      <% @devschools.each do |devschool| %>
            <div class="card-school"
                 data-name= "<%= devschool.name %>"
                 data-address= "<%= devschool.address %>"
                 data-description= "<%= devschool.description %>"
                 data-duration= "<%= devschool.duration %>"
                 data-payment= "<%= devschool.payment_facilities %>"
                 data-certifying= "<%= devschool.certifying %>"
                 data-remote= "<%= devschool.remote %>"
                 data-price= "<%= devschool.price %>"
                 data-url= "<%= devschool.url %>"
                 data-logo= "<%= devschool.url_photo %>"
                 data-category= "<%= devschool.category %>">            
              <div class="school">
                <h4><%= devschool.name %></h4>
                <img src="<%= devschool.url_photo %>" alt="logo">
              </div>
              <div class="card-content">
                <%= devschool.address %>
                  <i class="fas fa-hand-holding-usd"></i>
                <%= devschool.payment_facilities ? "Oui" : "Non" %>
              </div>            
            </div>
                <% end %>
    </div>
 <%# --------------------------------------------- %>



<%# ---------------- MODAL ----------------------- %>
<!-- Large modal -->
  <div id ="show-school" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="school-info">
          <h1 class="school-title">title</h1>
          <img class="school-logo" src="https://dwj199mwkel52.cloudfront.net/assets/lewagon-logo-square-b6124eb974be375884558e4464efce48a9b5664f18422768156364363ecdd1fc.png" alt="school-logo">
        </div>
        <h4 class="school-address">address</h4>
          <p class="school-description">description</p>
        <div class="school-info">
          <p class="school-duration pills">duration</p>
          <p class="school-payment pills">payment facilities</p>
          <p class="school-certifying pills">certifying</p>
          <p class="school-remote pills">remote</p>
          <p class="school-category pills">category</p>
          <p class="school-price pills">price</p>
        </div>
          <%# <p class="school-url">www.test.com</p> %>
          <a href="www.test.com" class="school-url" target="_blank">site</a>
          
      </div>
    </div>
  </div>
<%# ----------------------------------------------------- %>

</div>
