<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4" style="background-color: rgba(255, 255, 255, 0.7); border-radius: 4px; padding: 16px;">
      <h2>Créer ton compte</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      label: "Mot de passe",
                      required: true,
                      hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      label: "Confirmation",
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign Up", class:"button-log" %>
        </div>
      <% end %>
    </div>
  </div>
<%= link_to "", games_path, method: :post , id:"create-session", hidden: true %>
</div>
