<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <h1 class="game-title"><%= image_tag "logo-3.svg", style:"width:50px;height:50px" %>Miniature Golf Game</h1>
            <p>Le but de cette exerciceest mettre <span style="background-color:#FFBC00">la balle de golf</span> dans le trous en utilisant en plus de 
            <span style="background-color:#FFBC00">justify-content</span> la propriété <span style="background-color:#FFBC00">flex-direction</span> qui prend les valeurs:<br>
                -<strong>row</strong> : Les éléments sont disposés dans la même direction que le texte.<br>
                -<strong>row-reverse</strong> : Les éléments sont disposés dans la direction opposée au texte.<br>
                -<strong>column</strong> : Les éléments sont disposés de haut en bas.<br>
                -<strong>column-reverse</strong> : Les éléments sont disposés de bas en haut. 
            </p>
            <div id="game-3-input" style="color:white;background-color:#072A40;font-size:0.7em;height: 212px;">
            <div class="d-flex code-line"><div class="line-number">1</div><div><%='#pond {'%></div></div>
            <div class="d-flex code-line"><div class="line-number">2</div><div><%='display : flex;'%></div></div>
            <div class="d-flex code-line"><div class="line-number">3</div><div><%='flex-direction :'%>
            <select name="variable1" id="answer1">
            <optgroup label="answer">
            <option value="column">column</option>
            <option value="row">row</option>
            <option value="column-reverse">column-reverse</option>
            </optgroup>
            </select>
            </div></div>
            <div class="d-flex code-line"><div class="line-number">4</div><div><%='justify-content :'%>
            <select name="variable1" id="answer2">
            <optgroup label="answer">
            <option value="flex-start">flex-start</option>
            <option value="flex-end">flex-end</option>
            <option value="space-around">space-around</option>
            </optgroup>
            </select>
            <%=';'%></div></div>
            <div class="d-flex code-line"><div class="line-number">5</div><div><%='};'%></div></div>
            <div class="d-flex code-line"><div class="line-number">6</div><div></div></div>
            </div>
            <div class="d-flex justify-content-between">
                <%= link_to  "Test ton code", "#" , class:"btn btn-outline-dark mt-4", id:"submit"%>
                <% @nextgame = Game.find_by(order: Game.find(params[:id]).order + 1) %>
                <% if @nextgame %>
                    <%= link_to  "Next Challenge", game_path(@nextgame) , class:"btn btn-outline-success mt-4", id:"next", hidden: true%>
                <% else %>
                    <%= link_to  "Back to dashboard", dashboard_path , class:"btn btn-outline-success mt-4", id:"next", hidden: true%>
                <% end %>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="story">
                <p>Utilisez ce que vous avez apris dans les jeux précedents pour jouez!</p>
            </div>
                <div class="golf mt-4" style="background-color:#1F5768; width:100%;height:100%">
                <div id="champion" style="position:absolute;background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(7,42,64,0.8455531870951506) 64%);width:100%;height:100%;top:0">
                        <%= image_tag "tenor.gif", id:"trophy" %>
                </div>
                <div class="ball-field">
                    <%= image_tag "golf-ball.svg", id:'ball' %>
                </div>
                    <%= image_tag "golf-field.svg", id:'hole' %>
                </div>
        </div>
    </div>
</div>