<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <h1 class="game-title"><%= image_tag "logo-1.svg", style:"width:80px;height:80px", class:'animate__animated animate__heartBeat'  %>Votre deuxième bannière</h1>
            <p class="consigne">Pareil au premier exercice, la consigne est la suivante:<br>
                - reproduis la page à <span style="background-color:#ffbc00">droite</span> en sélectionnant les bons <span style="background-color:#ffbc00">Tags</span>. </p>
            <div id ="answer-zone" class="d-flex mb-2">
                <div id="5" class="draggable-item" draggable='true'><%="</a>"%></div>
                <div id="2" class="draggable-item" draggable='true'><%="</h1>"%></div>
                <div id="4" class="draggable-item" draggable='true'><%="</p>"%></div>
                <div id="1" class="draggable-item" draggable='true'><%="<h1>"%></div>
                <div id="3" class="draggable-item" draggable='true'><%="<p>"%></div>
            </div>
            <div id="game-4-input" style="color:white;background-color:#072A40;font-size:1.3em;height: 17.1875rem;">
                <div class="d-flex code-line"><div class="line-number">1</div>
                    <div class="line-code"><%='<div class="container">'%></div>
                </div>
                <div class="d-flex code-line">
                    <div class="line-number">2</div>
                    <div class="line-code line-answer">
                        <div class="draggable-zone"></div>
                        <div>Le Wagon brings tech skills to creative people!</div>
                        <div class="draggable-zone"></div>
                    </div>
                </div>
                <div class="d-flex code-line">
                    <div class="line-number">3</div>
                    <div class="line-code line-answer">
                        <div class="draggable-zone"></div>
                        <div>Change your life and learn to code at one of our campuses around the world.</div>
                        <div class="draggable-zone"></div>
                    </div>
                </div>
                <div class="d-flex code-line">
                    <div class="line-number">4</div>
                    <div  class="line-code line-answer">
                        <div><%='<a class="btn btn-success" href="#">'%>Apply now</div>
                        <div class="draggable-zone"></div>
                    </div>
                </div>
                <div class="d-flex code-line"><div class="line-number">5</div>
                    <div class="line-code"><%='</div>'%></div>
                </div>
                <div class="d-flex code-line"><div class="line-number">6</div>
                    <div class="line-code"><%='</div>'%></div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <%= link_to  "Test ton code", "#" , class:"btn btn-outline-dark mt-4", id:"submit"%>
                <% @nextgame = Game.find_by(order: Game.find(params[:id]).order + 1) %>
                <% if @nextgame %>
                    <%= link_to  "Next Challenge", game_path(@nextgame) , class:"btn btn-outline-success mt-4", id:"next", hidden: true%>
                <% else %>
                    <%= link_to  "Back to dashboard", dashboard_path , class:"btn btn-outline-success mt-4", id:"next", hidden: true%>
                <% end %>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="story">
                <p>Reproduis cette page en code Html.</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 mb-2">
                    <div class="banner-game4" style="position:relative; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
                        <div id="champion" style="position:absolute;background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(7,42,64,0.8455531870951506) 64%);width:100%;height:100%;top:0">
                            <%= image_tag "tenor.gif", id:"trophy" %>
                        </div>
                        <div class="container answer">
                            <div style='color:white;'>Le Wagon brings tech skills to creative people!</div>
                            <div style='color:white;'>Change your life and learn to code at one of our campuses around the world.</div>
                            <div style='color:white;'>Apply now</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="banner-game4" style="position:relative; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
                        <div class="container">
                            <h1>Le Wagon brings tech skills to creative people!</h1>
                            <p>Change your life and learn to code at one of our campuses around the world.</p>
                            <a class="btn btn-success" href="#">Apply now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
